<div class="px-2.5">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, magnam? Ut
    nulla dolore quae hic voluptatibus asperiores possimus velit consectetur
    perferendis, quod ratione quos aliquid aperiam, corrupti exercitationem
    fugiat delectus.
  </p>

  <p class="text-xs">
    Numero de clientes
    <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/>
  </p>
  <div>
    <app-wave-audio audioUrl="assets/dembow.mp3"/>
  </div>
</div>
