<div class="grid grid-cols-3">
  <app-product
    title="Producto 1"
    [price]="12"
    img="https://picsum.photos/640/640?r=24"
  />
  <app-product
    title="Producto 26"
    [price]="12"
    img="https://picsum.photos/640/640?r=26"
  />
  <app-product
    title="Producto 5"
    [price]="12"
    img="https://picsum.photos/640/640?r=5"
  />
  <app-product
    title="Producto 12"
    [price]="12"
    img="https://picsum.photos/640/640?r=12"
  />
  <app-product
    title="Producto 22"
    [price]="12"
    img="https://picsum.photos/640/640?r=22"
  />
  <app-product
    title="Producto 2"
    [price]="12"
    img="https://picsum.photos/640/640?r=2"
  />
</div>
// img="https://picsum.photos/640/640?=" + Math.random()
